:root {
  --color-primary: #ff4100;
  --color-main-text: #242424;
  --color-borders: #242424;
  --color-form: #242424;
  --color-bg: #fffffff2;
}

.dark {
  --color-primary: #ff4100;
  --color-main-text: #ffffff;
  --color-borders: #d3d3d3;
  --color-form: #d3d3d3;
  --color-bg: #3a3a3a;
}
