<section class="w-[332px] h-[77px] relative py-2">
  <div class="">
    <img
      [src]="sectionTitleImage()"
      alt="section background"
      width="200.75rem"
      height="40.8125rem"
      class="hidden md:block object-contain w-full [mask-image:linear-gradient(to_top,rgba(0,0,0,0.1),rgba(0,0,0,1))]"
    />
  </div>

  <div
    class="absolute z-10 flex items-center gap-4 right-0 bottom-5 w-full"
    [class]="centeredName() ? 'justify-center' : 'justify-sta rt'"
  >
    <img [src]="logo()" alt="logo" width="34px" height="19px" class="" />
    <h1 class="text-[18px] font-[600] text-[var(--color-primary)] capitalize">
      {{ sectionName() }}
    </h1>
  </div>
</section>
