<div class="relative overflow-hidden pt-11 bg-[var(--color-bg)]">
  <div
    class="pointer-events-none absolute inset-0 scale-110 bg-cover bg-center blur-[14px] [background-image:url('/images/auth-bg.webp')]"
    aria-hidden="true"
  ></div>
  <div
    class="pointer-events-none absolute inset-0 bg-[color:var(--color-bg)] backdrop-blur-[var(--blur)]"
    aria-hidden="true"
  ></div>
  <section
    class="relative z-10 flex flex-col lg:flex-row justify-between items-center pt-28 px-0 pb-0 h-full w-full"
  >
    <!-- TEXT -->
    <div class="container mx-auto max-w-md lg:max-w-3xl">
      <h1
        class="font-bold text-[var(--color-main-text)] text-4xl lg:text-6xl uppercase leading-tight"
      >
        {{ 'home.hero.titleStart' | translate }}
        <span class="block lg:inline text-[var(--color-primary)]">
          {{ 'home.hero.stand' | translate }}
        </span>
        {{ 'home.hero.anything' | translate }}
      </h1>
      <p
        class="relative text-[var(--color-main-text)] text-lg mt-5 pl-4 before:content-[''] before:absolute before:w-1 before:h-[120px] lg:before:h-[70px] before:bg-[var(--color-primary)] before:top-0 before:left-0"
      >
        {{ 'home.hero.mindset_description' | translate }}
      </p>

      <!-- STATS -->
      <div class="flex flex-col lg:flex-row gap-8 mt-8">
        <div class="text-[var(--color-main-text)]">
          <h2 class="font-bold text-2xl">1200+</h2>
          <p class="text-lg">{{ 'home.hero.activeMembers' | translate }}</p>
        </div>
        <div class="text-[var(--color-main-text)]">
          <h2 class="font-bold text-2xl">12+</h2>
          <p class="text-lg">{{ 'home.hero.certifiedTrainers' | translate }}</p>
        </div>
        <div class="text-[var(--color-main-text)]">
          <h2 class="font-bold text-2xl">20+</h2>
          <p class="text-lg">{{ 'home.hero.yearsExperience' | translate }}</p>
        </div>
      </div>

      <!-- BUTTONS -->
      <div class="flex gap-10 mt-7 mb-25">
        <app-custom-button
          class="text-sm lg:text-base w-[140px] lg:w-[153px]"
          [title]="'home.hero.getStarted' | translate"
          customBg="--color-primary"
          color="white"
          icon="pi pi-arrow-up-right"
        ></app-custom-button>

        <app-custom-button
          class="text-sm lg:text-base w-[190px]"
          [title]="'home.hero.exploreMore' | translate"
          border="2px solid var(--color-primary)"
          colorBtn="--color-primary"
          icon="pi pi-arrow-up-right"
        ></app-custom-button>
      </div>
    </div>

    <!-- IMAGE -->
    <div class="w-full lg:w-1/2 flex justify-center px-25 lg:justify-end self-end">
      <img src="/images/coach.png" class="w-full max-w-[450.35px] block" alt="coach" />
    </div>
  </section>
</div>
