<section class="flex flex-col lg:flex-row justify-between items-end pt-7 px-0 pb-0 w-full">
  <!-- TEXT -->
  <div class="max-w-md lg:max-w-3xl">
    <h1 class="font-bold text-4xl lg:text-6xl uppercase leading-tight">
      Your body can
      <span class="block lg:inline text-[var(--color-primary)]"> stand almost </span>
      anything
    </h1>
    <p
      class="relative text-lg mt-5 pl-4 before:content-[''] before:absolute before:w-1 before:h-[120px] lg:before:h-[70px] before:bg-[var(--color-primary)] before:top-0 before:left-0"
    >
      It's your mind that needs convincing. Push past your limits, stay committed, and watch as your
      body transforms into a powerhouse of strength and resilience.
    </p>

    <!-- STATS -->
    <div class="flex flex-col lg:flex-row gap-8 mt-8">
      <div>
        <h2 class="font-bold text-2xl">1200+</h2>
        <p class="text-lg">Active Members</p>
      </div>
      <div>
        <h2 class="font-bold text-2xl">12+</h2>
        <p class="text-lg">Certified Trainers</p>
      </div>
      <div>
        <h2 class="font-bold text-2xl">20+</h2>
        <p class="text-lg">Years Experience</p>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="flex gap-10 mt-7 mb-25">
      <app-custom-button
        class="text-sm lg:text-base w-[140px] lg:w-[153px]"
        title="Get Started"
        customBg="--color-primary"
        color="white"
        icon="pi pi-arrow-up-right"
      ></app-custom-button>

      <app-custom-button
        class="text-sm lg:text-base w-[190px]"
        title="Explore More"
        border="2px solid var(--color-primary)"
        colorBtn="--color-primary"
        icon="pi pi-arrow-up-right"
      ></app-custom-button>
    </div>
  </div>

  <!-- IMAGE -->
  <div class="w-full lg:w-1/2 flex justify-center lg:justify-end self-end">
    <img src="/images/coach.png" class="w-full max-w-[437.35px] block" alt="coach" />
  </div>
</section>
