@if (touched() && errors()) {

  <section class="mt-1 max-w-[320px] text-center">

    @if (errors()?.['required']) {
      <p-message severity="error">
        {{ label() }} is required
      </p-message>
    }

    @if (errors()?.['minlength']) {
      <p-message severity="error">
        {{ label() }} must be at least
        {{ errors()?.['minlength']?.requiredLength }} characters
      </p-message>
    }

    @if (errors()?.['email']) {
      <p-message severity="error">
        Invalid email
      </p-message>
    }

    @if (errors()?.['pattern']) {
      <p-message severity="error">
        Password must contain uppercase and special character
      </p-message>
    }

  </section>
}