<header class="container mt-5 flex justify-between items-center">
  <div class="logo">
    <img src="logo.png" class="w-full" alt="FitnessAppLogo" />
  </div>
  <nav>
    <ul class="flex gap-[24px]">
      <li class="nav"><a routerLink="home" routerLinkActive="active-link">Home</a></li>
      <li class="nav"><a routerLink="about" routerLinkActive="active-link">About</a></li>
      <li class="nav"><a routerLink="classes" routerLinkActive="active-link">Classes</a></li>
      <li class="nav"><a routerLink="healthy" routerLinkActive="active-link">Healthy</a></li>
    </ul>
  </nav>

  <div class="btns">
    <button>Login</button>
    <button>Sign Up</button>
  </div>
</header>
