<section class="relative">
  <div
    class="bg-[url('/images/workouts/workoutsBG.webp')] bg-cover bg-center bg-no-repeat w-full min-h-[1250px] lg:min-h-[871px]"
  >
    <div class="flex flex-col justify-center items-center">
      <!-- section title -->

      <app-section-title
        sectionTitleImage="/images/WOrkouts.webp"
        logo="/images/Vector.png"
        [sectionName]="'fitnessClass.fitness' | translate"
        [centeredName]="true"
      ></app-section-title>

      <div
        class="bg-[#ffffff] opacity-[85%] dark:opacity-[97%] dark:bg-[#232424] blur-[2px] w-full h-[940px] lg:h-[494px] z-10 relative"
      ></div>
      <!-- blured section -->
      <div class="absolute z-20 felx flex-col justify-center items-center w-full">
        <div class="mb-24">
          <!-- desc -->
          <div class="">
            <h1
              class="text-center text-[24px] md:text-[34px] font-bold text-[var(--color-main-text)] uppercase tracking-wide"
            >
              {{ 'fitnessClass.transform' | translate }} <br />
              {{ 'fitnessClass.dynamic' | translate }}
              <span class="text-[var(--color-primary)] text-wrap"
                >{{ 'fitnessClass.upcomingWorkouts' | translate }}
              </span>
            </h1>
          </div>
          <!-- filter tabs -->
          <div class="w-full px-4 my-4">
            <app-filter-tabs
              [tabs]="muscleTabs()"
              (tabChanged)="onCategoryChange($event)"
            ></app-filter-tabs>
          </div>
        </div>
      </div>
    </div>

    @defer (on viewport) {
      <!-- carousel cards -->
      <div class="w-full absolute -translate-y-39 lg:-translate-y-54 z-20">
        <app-carousel [carouselData]="muscleGroup()"></app-carousel>
      </div>
    } @placeholder {
      <p>is loading...........</p>
    }
  </div>
</section>
