<div [ngClass]="customClass()" class="flex flex-col gap-1 my-2 text-[var(--color-main-text)]">


  <div class="relative w-full "> 
      @if (icon()) {
        <img 
          [src]="icon()" 
          alt="icon"
          class="absolute left-4 top-1/2 -translate-y-1/2 w-6 h-6 pointer-events-none"
        />
      }
    <input
      pInputText
      autocomplete="off"
      [type]="type() === 'password' ? (showPassword() ? 'text' : 'password') : type()"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onInput($event)"
      (blur)="onBlur()"
      class="w-full !bg-transparent !rounded-2xl !py-3  border-[var(--color-borders)] 
      !text-[var(--color-main-text)] placeholder:!text-[var(--color-main-text)] !text-xl "
      [ngClass]="{
       
        '!pl-12': icon(),
        '!pl-3': !icon(),
        'ng-invalid ng-dirty': control.touched && control.invalid,
        'ng-valid': control.touched && control.valid ,
      }"
    />

    @if (type() === 'password') {
      <button
      type="button"
      class="absolute inset-y-0 right-3 flex items-center"
      (click)="togglePassword()"
      [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
    >
      <img
        [src]="showPassword() ? passIcon() : passIcon()"
        alt="toggle password"
        class="w-5 h-5 mx-auto cursor-pointer "
      />
    </button>
    }
  </div>

  <app-validation-msg
    [control]="control"
    [label]="label()"
    [type]="type()"
  />

</div>

