.container {
  background: var(--color-bg);
  
}


.text{
    color:var(--color-main-text);
} 

.imgbg{
  background: url(/images/AccountBackground.png);

}
.text-outline {
  
  color: transparent;
  text-shadow:
    1px 0 0 white,
    -1px 0 0 white,
    0 1px 0 white,
    0 -1px 0 white;
  
} 
.stroke-text {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.08); /* very light */
}

