<div
  class="picker-wrapper relative w-full h-40 flex flex-col justify-center items-center overflow-hidden"
>
  @if (unit()) {
    <span class="text-orange-600 font-bold text-lg mb-1">{{ unit() }}</span>
  }

  <div class="relative w-full h-32 flex justify-center items-center">
    <div class="absolute bottom-0 text-orange-600 text-xl z-10">▲</div>

    <swiper-container
      #swiperRef
      slides-per-view="3"
      centered-slides="true"
      [spaceBetween]="0"
      class="!w-full !h-full"
    >
      @for (num of data(); track $index) {
        <swiper-slide class="flex items-center justify-center">
          <span
            [class.text-orange-600]="activeIndex() === $index"
            [class.text-white]="activeIndex() !== $index"
            class="text-4xl font-bold transition-all duration-300"
          >
            {{ num }}
          </span>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</div>
