<header class="container mt-5 flex justify-between items-center">
  <div class="logo">
    <div class="logo">
      <img
        ngSrc="/images/logo.png"
        width="100"
        height="50"
        priority
        alt="FitnessAppLogo"
        class="w-32 h-auto"
      />
    </div>
  </div>
  <nav>
    <ul class="flex gap-[24px]">
      <li class="nav"><a routerLink="home" routerLinkActive="active-link">Home</a></li>
      <li class="nav"><a routerLink="about" routerLinkActive="active-link">About</a></li>
      <li class="nav"><a routerLink="classes" routerLinkActive="active-link">Classes</a></li>
      <li class="nav"><a routerLink="healthy" routerLinkActive="active-link">Healthy</a></li>
    </ul>
  </nav>

  <div class="btns flex gap-8">
    <!-- <button>Login</button> -->
    <app-custom-button width="77px" title="Login" customBg="--color-primary" color="white">
    </app-custom-button>
    <!-- <button>register</button> -->
    <app-custom-button
      width="85px"
      title="Signup"
      border="2px solid red"
      colorBtn="--color-primary"
    >
    </app-custom-button>
  </div>
</header>
