<section>
  <div [ngClass]="customClass()" class="flex flex-col gap-1 my-2 text-[var(--color-main-text)]">
    <div class="relative w-full">
      @if (iconSvg()) {
        <div
          class="absolute left-4 top-1/2 -translate-y-1/2 w-6 h-6 pointer-events-none"
          [innerHTML]="iconSvg()"
        ></div>
      }

      <input
        pInputText
        autocomplete="off"
        [type]="type() === 'password' ? (showPassword() ? 'text' : 'password') : type()"
        [placeholder]="placeholder()"
        [value]="value()"
        (input)="onInput($event)"
        (blur)="onBlur()"
        class="!w-full !bg-transparent !rounded-3xl !py-4 border !border-[var(--color-borders)] !text-[var(--color-main-text)] placeholder:!text-[var(--color-main-text)] !text-xl !px-7"
        [ngClass]="{
          '!pl-12': icon(),
          '!pl-3': !icon(),
        }"
      />

      @if (type() === 'password') {
        <button
          type="button"
          class="absolute inset-y-0 right-3 flex items-center"
          (click)="togglePassword()"
        >
          <div class="w-5 h-5 cursor-pointer" [innerHTML]="eyeSvg()"></div>
        </button>
      }
    </div>
  </div>
</section>
