@import '../src/app/styles/theme.scss';
@import 'tailwindcss';
@theme {
  --font-family-baloo: 'Baloo Thambi 2', cursive;
}

body {
  font-family: var(--font-family-baloo);
}

:root {
  // knob styles
  --p-knob-value-background: var(--color-primary) !important;
  --p-knob-text-color: var(--color-main-text) !important;
  --p-transition-duration: 0.5 !important;
  --p-disabled-opacity: 1 !important;

  //
}
